body {
  margin: 0px;
  font-family: 'Libre Bodoni', Catamaran, Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}
