.principal{
  background-color: #575970;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: -5px;
}

.logo-container{
  display: grid;
}

.logo-container img{
  grid-area: 1/1;
  align-self: center;
  margin-left: 100px;
}

.texto-principal{
  color: #EDE3D1;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.5px;
  margin-right: 100px;
  padding-bottom: 40px;
}