:root {
  --cor-0: #FFFFFF;
  --cor-1: #e6e9f1;
  --cor-2: #EDE3D1;
  --cor-3: #F2EDE2;
  --cor-4: #575970;
  --cor-5: #3B4061;
  --cor-6: #76580B;
  --cor-7: #187432;
  --cor-8: #f2e2d2;
}

.cor-0{
  color: var(--cor-0)
}
.cor-1{
  color: var(--cor-1)
} 
.cor-2{
  color:var(--cor-2)
}
.cor-3{
  color:var(--cor-3)
}
.cor-4{
  color:var(--cor-4)
}
.cor-5{
  color:var(--cor-5)
}
.cor-6{
  color:var(--cor-6)
}
.cor-7{
  color:var(--cor-7)
}