header{
  background-color: var(--cor-3);
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem
}
.logo{
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-list>ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav-item{
  margin: 0px 15px;
}
.nav-link{
  color: var(--cor-4);
  font-weight: bold;
  font-family: 'Libre Bodoni', serif;
  letter-spacing: 1px;
  font-size: 18px;
}
.social-menu{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1rem 4rem;
}
.mobile-menu-icon{
  display: none;
}
.mobile-menu{
  display: none;
}
.nav-link:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-4);
  margin-top: 4px;
  transition: 0.3s;
}
.nav-item>a:hover:after {
  width: 100%;
}

@media(max-width:1024px){
  .social-menu{
    display: none;
  }
}

@media (max-width:820px){
  .nav-bar{
    padding: 1.5rem 4rem;
  }

  .social-menu, .nav-item{
    display: none;
  }

  .mobile-menu-icon{
    display: block;
  }
  .mobile-menu-icon{
    background-color: transparent;
    border: none;
    padding: 1rem 1rem;
    cursor: pointer;
  }
  .mobile-menu>ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu>.nav-item{
    display: block;
    padding-top: 1.2rem;
  }
  .mobile-menu>.social-menu{
    width: 100%;
  }
  .open{
    display: block;
  }
  .open>ul>.nav-item{
    display: block;
  }
  .open>.social-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: fit-content;
    margin: auto;
  }
}

@media (max-width: 420px){
  .mobile-menu-icon>img{
    width: 70px;
  }
  .open>.social-menu{
   gap: 20px;
  }
}
