.atuacao{
   background-color: var(--cor-1);
}

.titulo-atuacao{
  font-family: "Libre Bodoni", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: var(--cor-5);
  text-align: center;
  padding: 75px 0px 75px 0px;
  margin: 0 auto;
}

.container ul{
  display: flex;
  margin: 0px 500px 20px 500px;
  gap: 300px;
  padding: 0 20px 75px 20px;
  max-width: 1600px;
  justify-content: center;
}

.container a{
  display: block;
}

.container h3{
  color: var(--cor-5);
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  width: 217px;
  text-align: center;
}

.img-atuacao{
  background-color: var(--cor-5);
  height: 217px;
  width: 217px;
  border-radius: 100%;
}

.img-atuacao img{
  padding: 69px 59px 68px 58px;
}
