.principal{
  background-color: var(--cor-4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-container{
  display: grid;
}

.logo-container img{
  align-self: center;
  margin-left: 100px;
}

.texto-principal{
  color: var(--cor-2);
  font-size: 24px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.5px;
  margin-right: 100px;
}