.servidoresprincipal>h1{
  margin: 80px auto;
  font-family: 'Libre Bodoni', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 24px;
  text-align: center;
  color: #484956;
}

.servidoresprincipal>p{
  font-family: 'Catamaran', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #2D3139;
  margin: -40px 100px 40px 100px;
}

.servidoresprincipal>ol{
  font-family: 'Catamaran', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #2D3139;
  margin: -40px 120px 40px 120px;
  list-style-type: disc;
}

strong{
  color: red;
}

@media (max-width:600px){
  .servidoresprincipal>h1{
    font-size: 28px;
    margin: 40px auto;
  }

  .servidoresprincipal>p{
    text-align: center;
    margin: auto;
  }

  .servidoresprincipal>ol{
    margin: 0px 50px;
  }
}